@model Customer
@{
    ViewData["Title"] = "Home Page";
}

<script src='~/js/fetchAPI.js'></script>

<!--
@Html.HiddenFor(x => x.FirstName)
-->

<!-- Slideshow container -->
<div class="Carousel-contasiner">

  <!-- Full-width images with number and caption text ->
  <div class="PC Carousel">
    <img src="IMAGE WANTED.jpg" style="width:100%">
    <div class="text">High-end Computer 3000$</div>
  </div>

  <div class="PC Carousel">
    <div class="numbertext">2 / 3</div>
    <img src="img2.jpg" style="width:100%">
    <div class="text">Mid-end Computer 1500$</div>
  </div>

    <div class="PC Carousel">
    <img src="img3.jpg" style="width:100%">
    <div class="text">Low-end Computer 750$</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

