@model List<Product>

<h1>THE AMOUNT OF PRODUCTS I GOT: @Model.Count</h1>

<ul>
    @foreach(Product item in Model) 
    {
        <li>
            <p>@item.Name   @item.Cost</p>
        </li>
    }
</ul>