html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.recipebtn{
    background-color: papayawhip;
    border-color: transparent;
}

/* Inspiration for the styles about the recipes taken from https://www.w3schools.com/howto/howto_css_image_text.asp */
.recipes {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 200px;
    transition: transform 0.2s ease-in-out;
}

    .recipes .recipename {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 14px;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        word-wrap: break-word;
        padding: 5px;
        width: 90%;
    }

.recipes:hover {
    transform: scale(1.1)
}

.recipes img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}