@{
    ViewData["Title"] = "About";
}

<body style="background-color: papayawhip">
    <h1>@ViewData["Title"]</h1>

    <p>Your Recipes is a small webssite, where you can find new recipes. It is in no way perfect, and there will be alot more to come in the future</p>
</body>