@model List<Recipe>
@{
    ViewData["Title"] = "Our RECIPESS";

}


<h1>@ViewData["Title"]</h1>

<body>
    @foreach (Recipe item in Model)
    {
        <div class="recipes">
            <a target="_blank" href=@item.MealPNG>
                <!-- HYPER LINK -->
                <img src=@item.MealPNG alt=@item.Mealname />
            </a>
            <div class="recipename">@item.Mealname</div>
        </div>
    }
</body>
    

