@model List<Recipe>
@{
    ViewData["Title"] = "Our RECIPESS";

}

<head>
    <script src="~/js/fetchAPI.js"></script>
</head>

<body>
    <h1>Recipes</h1>

        @foreach (Recipe item in Model)
        {
        <button onclick="GetMealInfo('@item.Mealname', '@item.Id')">
                <div class="recipes">
                    <img src=@item.MealPNG alt=@item.Mealname />
                    <div class="recipename">@item.Mealname</div>
                </div>
            </button>
        }
    
</body>
    

